*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #4669b1,#242b45);
}
.search-section{
    position: relative;
    height: 100vh;
}
#search-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #9db0d6;
    border-radius: 40px;
    padding: 10px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-btn{
    font-size: 26px;
    color: #4669b1;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #9db0d6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

#search-box:hover > .search-txt{
    width: 50%;
    padding: 0 6px;
    
}
#search-box:hover > .search-btn{
    box-shadow: 1px 1px 10px #1b2033;
   background-color: white;
   font-size: 20px;
}


#not-found{
    display: none;
}

.search-title{
    text-decoration: none;
    color: #65a2ff;
}
.card-block{
    background-color: #434b6854;
    box-shadow: 1px 1px 10px #1b2033;
}
.search-title:hover{
    color: rgb(159, 57, 255);
}
.search-title>title{
    color: rgb(159, 57, 255);
}
#answer-section li{
    color: white;
}
.answer-title{
    color: rgb(101, 162, 255);
}
